<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

	<servlet>
		<servlet-name>ViewController</servlet-name>
		<display-name>ViewController</display-name>
		<description></description>
		<servlet-class>batu.dev.sem.bundles.UserManagement.controllers.ViewController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewController</servlet-name>
		<url-pattern>/ViewController</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<description></description>
		<servlet-class>batu.dev.sem.bundles.UserManagement.controllers.LoginController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HomeController</servlet-name>
		<display-name>HomeController</display-name>
		<description></description>
		<servlet-class>batu.dev.sem.bundles.UserManagement.controllers.HomeController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeController</servlet-name>
		<url-pattern>/HomeController</url-pattern>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PageContoller</servlet-name>
		<display-name>PageContoller</display-name>
		<description></description>
		<servlet-class>batu.dev.sem.bundles.UserManagement.controllers.PageContoller
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PageContoller</servlet-name>
		<url-pattern>/PageContoller</url-pattern>
		<url-pattern>/page_loader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ScreenController</servlet-name>
		<display-name>ScreenController</display-name>
		<description></description>
		<servlet-class>batu.dev.sem.bundles.UserManagement.controllers.ScreenController
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RoleController</servlet-name>
		<display-name>RoleController</display-name>
		<description></description>
		<servlet-class>batu.dev.sem.bundles.UserManagement.controllers.RoleController
		</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>UserController</servlet-name>
		<display-name>UserController</display-name>
		<description></description>
		<servlet-class>batu.dev.sem.bundles.UserManagement.controllers.UserController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>



	<servlet-mapping>
		<servlet-name>ScreenController</servlet-name>
		<url-pattern>/ScreenController</url-pattern>
		<url-pattern>/screen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoleController</servlet-name>
		<url-pattern>/RoleController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RoleController</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>StartupServlet</display-name>
		<servlet-name>StartupServlet</servlet-name>
		<servlet-class>batu.dev.sem.utils.StartupServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartupServlet</servlet-name>
		<url-pattern>/StartupServlet</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<description>
		</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>batu.dev.sem.bundles.UserManagement.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>



</web-app>